$mainBackgroundColor: #F1F2F4;
$black: #060811;
$darkGrey: #4D4F54;
$lightGrey: #D5DCDA;
$lightGreyBorder: #e1e4ed;
$grey: #9B9CA0;
$blue: #2f55b7;
$blueHovered: #23418E;
$blueDisabled: #B9C4E0;
$blueTextDisadled: #CED6E9;
$tomato: #F27C74;
$red: #E82139;
$green: #6AE877;
